.p-Home.Flex1 {
display: flex;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Flex2 {
display: flex;
column-gap: 50px;
padding-right: 100px;
}
.p-Home.Flex3 {
display: flex;
width: ;
height: 89%;
background-image: ;
align-items: center;
justify-content: center;
border-style: none;
padding-right: 150px;
}
.p-Home.Flex4 {
display: flex;
width: ;
height: ;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 50px;
padding-bottom: 50px;
padding-left: ;
padding-right: ;
border-width: ;
border-style: none;
border-color: ;
background-color: ;
box-sizing: border-box;
border-radius: 30px;
justify-content: center;
}
.p-Home.Flex26 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 30px;
}
.p-Home.TextBox1 {
font-family: DM Sans;
font-weight: 700;
font-size: 30px;
padding-left: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
cursor: pointer;
}
.p-Home.Button1 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button2 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image4 {
width: 500px;
height: ;
border-radius: 35px;
}
.p-Home.TextBox2 {
font-family: DM Sans;
font-weight: 700;
font-size: 40px;
text-align: center;
}
.p-Home.TextBox3 {
text-align: center;
width: 60%;
font-family: DM Sans;
font-weight: 500;
color: #757575;
}
.p-Home.Button3 {
color: #fff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 25px;
padding-bottom: 15px;
padding-right: 25px;
font-size: 16px;
border-radius: 30px;
outline: none;
font-weight: 500;
text-align: center;
border-width: ;
border-style: none;
border-color: ;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox19 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
padding-left: 15px;
}
.p-Home.Image5 {
width: 200px;
cursor: pointer;
}
